/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size:5em;
  text-shadow:0px 0px 5px #666,0px 0px 30px #DDD;
  
  
}
body
{
  background:url('http://subtlepatterns.com/patterns/nasty_fabric.png');
  background-size:200px;
}
.zocial-facebook:hover, .zocial-twitter:hover, .zocial-googleplus:hover, .zocial-windows:hover, .zocial-appstore:hover, .zocial-android:hover
{
  color:#777;
  transition:all ease 0.5s;
  
}
.zocial-facebook, .zocial-twitter, .zocial-googleplus
{
  position:relative;
  top:130px;
  margin-left:60px;
  color:#EEE;
  transition:all ease 0.5s;
  
}
.zocial-twitter
{
  margin-left:90px
}
.zocial-windows, .zocial-appstore, .zocial-android
{
  position:relative;
  top:50px;
  margin-left:70px;
  color:#EEE;
  transition:all ease 0.5s;
}

#cadre
{
  width:500px;
  height:250px;
  background: -webkit-linear-gradient(-90deg, #C3C1BF 0%, #B7B4B0 100%);
  margin: 50px auto;
  border-radius:6px;
  -webkit-border-radius:6px;
  box-shadow:0px 0px 2px #555, 0px 0px 10px #999,0px 0px 60px #CCC;
}
#traitnoir
{
  width:400px;
  height:1px;
  background:#666;
  position:relative;
  top:80px;
  left:50px;
}
#first
{
  width:490px;
  height:1px;
  background-color:#DDD;
  position:relative;
  left:5px;
}
#traitblanc
{
  width:400px;
  height:1px;
  background:#FFF;
  position:relative;
  top:80px;
  left:50px;
}
#second
{
  width:1px;
  height:242px;
  position:absolute;
  background-color:#DDD;
  top:54px;
}
p
{
  position:relative;
  font-size:1.5em;
  color:#EEE;
  text-align:center;
  
}
.btn-facebook {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}

.btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
  *background-color: #0271bf;
  background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
  background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
  background-image: -o-linear-gradient(top, #2daddc, #0271bf);
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  background-repeat: repeat-x;
  border-color: #0271bf #0271bf #014473;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
  color: #ffffff;
  background-color: #0271bf;
  *background-color: #0262a6;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #01538d \9;
}

.btn-linkedin {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #60a9ce;
  *background-color: #4393bb;
  background-image: -moz-linear-gradient(top, #73b8db, #4393bb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73b8db), to(#4393bb));
  background-image: -webkit-linear-gradient(top, #73b8db, #4393bb);
  background-image: -o-linear-gradient(top, #73b8db, #4393bb);
  background-image: linear-gradient(to bottom, #73b8db, #4393bb);
  background-repeat: repeat-x;
  border-color: #4393bb #4393bb #2f6783;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff73b8db', endColorstr='#ff4393bb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.btn-linkedin.disabled,
.btn-linkedin[disabled] {
  color: #ffffff;
  background-color: #4393bb;
  *background-color: #3c84a8;
}

.btn-linkedin:active,
.btn-linkedin.active {
  background-color: #367595 \9;
}